@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desaturedBlue: hsl(238, 22%, 44%);
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);
  --lightGrayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);
  --headFontFamily: 
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 375px;
  margin: 0 auto;
}

#header {
  padding: 1rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5rem;
}

.head-link {
  display: flex;
  gap: 1rem;
}

.head-link li {
  list-style: none;
}

.head-link li a {
  text-decoration: none;
  color: inherit;
  font-family: var(--headFontFamily);
  font-weight: 700;
  font-size: .9em;
}

/* Section */
.section {
  padding: 0 1rem;
  margin-bottom: 5rem;
}

.illustration {
  width: 100%;
  margin-bottom: 2rem;
}

.title,
.paragraph {
  font-size: 1.5em;
  text-align: center;
}

.paragraph {
  font-size: .95em;
  width: 90%;
  margin: 2rem auto;
}

input,
button {
  box-sizing: border-box;
  display: block;
  width: 90%;
  border-radius: 5px;
}

input {
  display: block;
  margin: 0 auto 1em;
  padding-left: 1.5em;
  width: 90%;
  height: 2.5rem;
  border: 2px solid black;
}

input::placeholder {
  color: #ccc;
}

button {
  margin: 0 auto;
  height: 2.3rem;
  background-color: var(--brightBlue);
  color: white;
  font-weight: 600;
  border: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}