@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --veryDarkBlue: hsl(243, 87%, 12%);
  --desaturedBlue: hsl(238, 22%, 44%);
  --brightBlue: hsl(224, 93%, 58%);
  --moderateCyan: hsl(170, 45%, 43%);
  --lightGrayishBlue: hsl(240, 75%, 98%);
  --lightGray: hsl(0, 0%, 75%);
  --headFontFamily: 
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 375px;
  margin: 0 auto;
}

#header {
  padding: 1rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5rem;
}

.head-link {
  display: flex;
  gap: 1rem;
}

.head-link li {
  list-style: none;
}

.head-link li a {
  text-decoration: none;
  color: inherit;
  font-family: var(--headFontFamily);
  font-weight: 700;
  font-size: .9em;
}

/* Section */
.section {
  padding: 0 1rem;
}

.illustration {
  width: 100%;
  margin-bottom: 2rem;
}

.title,
.paragraph {
  font-size: 1.5em;
  text-align: center;
}

.paragraph {
  font-size: .95em;
  width: 90%;
  margin: 2rem auto;
}

input,
button {
  box-sizing: border-box;
  display: block;
  width: 90%;
  border-radius: 5px;
}

input {
  display: block;
  margin: 0 auto 1em;
  padding-left: 1.5em;
  width: 90%;
  height: 2.5rem;
  border: 2px solid black;
}

input::placeholder {
  color: #ccc;
}

.button {
  margin: 0 auto;
  height: 2.3rem;
  background-color: var(--brightBlue);
  color: white;
  font-weight: 600;
  border: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* First Section */
.section.one {
  margin-bottom: 9rem;
}

/* Second Section */
.section.two {
  padding: 0 0 4em;
  background-color: #F8F8FE;
  position: relative;
}

.bg-curve {
  width: 100%;
  position: absolute;
  top: -3rem;
}

.sub-content {
  padding: 3rem 1rem 1rem;
}

.illustration.two {
  margin-bottom: 4rem;
}

.title.sub {
  font-size: .9em;
}

.paragraph.sub {
  font-size: .8em;
  text-align: left;
}

.sub-button {
  margin-bottom: 3rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13.5px;
}

.link-sub-button {
  text-decoration: none;
  font-size: .9em;
  font-weight: 500;
  color: #3DA08F;
}

.arrow-icon{
  width: 1.5rem;
}

.underline {
  width: 50%;
  height: 2px;
  border-radius: 50%;
  background-color: #3DA08F;
  position: absolute;
  top: 30px;
}

.testimonials {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 1rem;
  padding: 20px 30px;
}

.quotes-icon {
  display: block;
  margin-bottom: 5px;
}

.messages {
  font-size: .75em;
  line-height: 20px;
  font-weight: 600;
}

.user-testi {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar-testimonial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.title.name {
  font-size: .7em;
  text-align: left;
}

.sub-title {
  font-size: .5em;
}


/* Section Three */
.section.three {
  padding: 4rem 0;
  background-color: var(--desaturedBlue);
}

.title.three,
.paragraph.three {
  color: white;
}

.title.three {
  font-size: 1.2em;;
}

.paragraph.three {
  line-height: 1.5em;
  width: 80%;
}

input,
.button {
  width: 65%;
}

/* Footer */
.main-footer {
  padding: 4rem 2rem ;
  background-color: var(--veryDarkBlue);
  color: white;
}

.logo-footer {
  margin-bottom: 2rem;
  width: 9rem;
}

.sub-footer {
  list-style: none;
  margin-bottom: 3rem;
}

.sub-footer li {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sub-link a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  display: flex;
}

.sub-link.one,
.sub-link.two {
  margin-bottom: 3rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link-sm img {
  width: 1.5rem;
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
}
